<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/awaiskhan11.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html">AwaisKhan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span>
          </button>
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="serices.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sorcecode.html">SourceCode</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="about.html">AboutUs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gear.html">My Gear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                    <i class="fa fa-sun-o" id="icon"></i>
                    <div class="text-end">
                        {% if user.is_authenticated %}
                        <a href="logout.html"><button type="button" class="btn btn-warning">Logout</button></a> {% else %}
                        <a href="login.html"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                        <a href="signin.html"><button type="button" class="btn btn-warning">Sign-up</button></a> {% endif %}
                    </div>

            </div>
        </div>
    </nav>

    <div id="home4-page" class="fixed-top">
        <div class="home6-page">
            <i class="	fa fa-home"></i>
        </div>
        <div class="home7-page">
            <ul id="nav">
                <li><a href="html.html">HTML</a></li>
                <li><a href="css.html">CSS</a></li>
                <li><a href="js.html">JS</a></li>
                <li><a href="python.html">Python</a></li>
                <li><a href="c.html">C</a></li>
                <li><a href="clangu.html">C++</a></li>
                <li><a href="java.html">Java</a></li>
                <li><a href="react.html">React JS</a></li>
                <a id="close"><i class="fa fa-refresh"></i></a>

            </ul>
        </div>
        <div class="home8-page">
            <form class="d-flex" role="search">
                <i id="bare" class="fa fa-sliders"></i>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>

            </form>
        </div>
    </div>

    <div id="aout-page">
        <div class="aout1-page">
            <h1>#About Us</h1>
            <h2>Stay all case Studies about our About Us!</h2>
        </div>
    </div>

    <div id="aout2-page" class="section-p4">
        <div class="aout3-page">
            <img src="/static/images/n24.jpg">
        </div>
        <div class="aout4-page">
            <h1>Who We Are ?</h1>
            <p>Haris Ai Khan aka codewithharry as a web Develpor and Youtuber.Codewithharry went to help others by provide free videos on Web development and Schools/Univeristy importtant topics.</p>
            <p>Vinod Bahadur Thapa aka ThapaTechnica as a web Develpor and Youtuber.Codewithharry went to help others by provide free videos on Web development and Schools/Univeristy importtant topics.</p>
            <p>Nayyer Shaikh aka Nayyar Shaikh as a web Develpor and Youtuber.Codewithharry went to help others by provide free videos on Web development and Schools/Univeristy importtant topics.</p>
            <abbr title="">Create Stunning images with as much or as little control as you like thins to a choice of basic and creative modes.
            </abbr>
            <marquee>Create Stunning images with as much or as little control as you like thins to a choice of basic and creative modes.</marquee>
        </div>
    </div>

    <div id="aout5-page" class="section-p4">
        <h1>Download Notes</h1>
        <div class="aout6-page">
            <div class="aout7-page">
                <div class="aout8-page">
                    <img src="/static/images/pythonimages/1.webp">
                </div>
                <div class="aout9-page">
                    <h2>Python Notes and Files</h2>
                    <h3>Download Notes and files Here</h3>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/Python_Complete_Notes.pdf"><button class="ans">PDF Notes</button></a>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/Python_ChapterWise_Notes.zip"><button class="ans1">Chapterwise Notes</button></a>
                </div>
            </div>
            <div class="aout7-page">
                <div class="aout8-page">
                    <img src="/static/images/pythonimages/2.webp">
                </div>
                <div class="aout9-page">
                    <h2>C Notes and Files</h2>
                    <h3>Download Notes and files Here</h3>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/C_Complete_Notes.pdf"><button class="ans">PDF Notes</button></a>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/C_ChapterWise_Notes.zip"><button class="ans1">Chapterwise Notes</button></a>
                </div>
            </div>
            <div class="aout7-page">
                <div class="aout8-page">
                    <img src="/static/images/pythonimages/3.webp">
                </div>
                <div class="aout9-page">
                    <h2>Android Notes and Files</h2>
                    <h3>Download Notes and files Here</h3>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/Android_CompleteNotes.pdf"><button class="ans">PDF Notes</button></a>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/Android_ChapterWise_Notes.zip"><button class="ans1">Chapterwise Notes</button></a>
                </div>
            </div>
            <div class="aout7-page">
                <div class="aout8-page">
                    <img src="/static/images/pythonimages/4.webp">
                </div>
                <div class="aout9-page">
                    <h2>Java Notes and Files</h2>
                    <h3>Download Notes and files Here</h3>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/Java_Complete_Notes.pdf"><button class="ans">PDF Notes</button></a>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/Java_ChapterWise_Notes.zip"><button class="ans1">Chapterwise Notes</button></a>
                </div>
            </div>
            <div class="aout7-page">
                <div class="aout8-page">
                    <img src="/static/images/pythonimages/5.webp">
                </div>
                <div class="aout9-page">
                    <h2>HTML Notes and Files</h2>
                    <h3>Download Notes and files Here</h3>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/HTML_Complete_Notes.pdf"><button class="ans">PDF Notes</button></a>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/HTML_ChapterWise_Notes.zip"><button class="ans1">Chapterwise Notes</button></a>
                </div>
            </div>
            <div class="aout7-page">
                <div class="aout8-page">
                    <img src="/static/images/pythonimages/6.webp">
                </div>
                <div class="aout9-page">
                    <h2>Python Notes and Files</h2>
                    <h3>Download Notes and files Here</h3>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/CSS_Complete_Notes.pdf"><button class="ans">PDF Notes</button></a>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/CSS_ChapterWise_Notes.zip"><button class="ans1">Chapterwise Notes</button></a>
                </div>
            </div>
            <div class="aout7-page">
                <div class="aout8-page">
                    <img src="/static/images/pythonimages/7.webp">
                </div>
                <div class="aout9-page">
                    <h2>DSA Notes and Files</h2>
                    <h3>Download Notes and files Here</h3>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/DSA_CompleteNotes.pdf"><button class="ans">PDF Notes</button></a>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/DSA_TopicWise_Notes.zip"><button class="ans1">Chapterwise Notes</button></a>
                </div>
            </div>
            <div class="aout7-page">
                <div class="aout8-page">
                    <img src="/static/images/pythonimages/8.webp">
                </div>
                <div class="aout9-page">
                    <h2>Javascript Notes and Files</h2>
                    <h3>Download Notes and files Here</h3>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/JS_Chapterwise_Notes.pdf"><button class="ans">PDF Notes</button></a>
                    <a href="https://cwh-full-next-space.fra1.cdn.digitaloceanspaces.com/notes/CSS_ChapterWise_Notes.zip"><button class="ans1">Chapterwise Notes</button></a>
                </div>
            </div>

        </div>
    </div>

    <div id="aout10-page" class="section-p4">
        <h1>Download Cheatsheets by AwaisKhan</h1>
        <div class="aout11-page">
            <div class="aout12-page">
                <div class="aout13-page">
                    <img src="/static/images/pythonimages/9.webp">
                </div>
                <div class="aout14-page">
                    <h2>Python CheatSheet</h2>
                    <h3>Download Cheatsheet Here</h3>
                    <a href="https://www.codewithharry.com/blogpost/python-cheatsheet/"><button>Download</button></a>
                </div>
            </div>
            <div class="aout12-page">
                <div class="aout13-page">
                    <img src="/static/images/pythonimages/10.webp">
                </div>
                <div class="aout14-page">
                    <h2>C CheatSheet</h2>
                    <h3>Download Cheatsheet Here</h3>
                    <a href="https://www.codewithharry.com/blogpost/c-cheatsheet/"><button>Download</button></a>
                </div>
            </div>
            <div class="aout12-page">
                <div class="aout13-page">
                    <img src="/static/images/pythonimages/11.webp">
                </div>
                <div class="aout14-page">
                    <h2>C++ CheatSheet</h2>
                    <h3>Download Cheatsheet Here</h3>
                    <a href="https://www.codewithharry.com/blogpost/cpp-cheatsheet/"><button>Download</button></a>
                </div>
            </div>
            <div class="aout12-page">
                <div class="aout13-page">
                    <img src="/static/images/pythonimages/12.webp">
                </div>
                <div class="aout14-page">
                    <h2>Java CheatSheet</h2>
                    <h3>Download Cheatsheet Here</h3>
                    <a href="https://www.codewithharry.com/blogpost/java-cheatsheet/"><button>Download</button></a>
                </div>
            </div>
            <div class="aout12-page">
                <div class="aout13-page">
                    <img src="/static/images/pythonimages/13.webp">
                </div>
                <div class="aout14-page">
                    <h2>HTML CheatSheet</h2>
                    <h3>Download Cheatsheet Here</h3>
                    <a href="https://www.codewithharry.com/blogpost/html-cheatsheet/"><button>Download</button></a>
                </div>
            </div>
            <div class="aout12-page">
                <div class="aout13-page">
                    <img src="/static/images/pythonimages/14.webp">
                </div>
                <div class="aout14-page">
                    <h2>Flask CheatSheet</h2>
                    <h3>Download Cheatsheet Here</h3>
                    <a href="https://www.codewithharry.com/blogpost/css-cheatsheet/"><button>Download</button></a>
                </div>
            </div>
            <div class="aout12-page">
                <div class="aout13-page">
                    <img src="/static/images/pythonimages/15.webp">
                </div>
                <div class="aout14-page">
                    <h2>JavaScript CheatSheet</h2>
                    <h3>Download Cheatsheet Here</h3>
                    <a href="https://www.codewithharry.com/blogpost/flask-cheatsheet/"><button>Download</button></a>
                </div>
            </div>
            <div class="aout12-page">
                <div class="aout13-page">
                    <img src="/static/images/pythonimages/16.webp">
                </div>
                <div class="aout14-page">
                    <h2>CSS CheatSheet</h2>
                    <h3>Download Cheatsheet Here</h3>
                    <a href="https://www.codewithharry.com/blogpost/javascript-cheatsheet/"><button>Download</button></a>
                </div>
            </div>
            <div class="aout12-page">
                <div class="aout13-page">
                    <img src="/static/images/pythonimages/17.webp">
                </div>
                <div class="aout14-page">
                    <h2>PHP CheatSheet</h2>
                    <h3>Download Cheatsheet Here</h3>
                    <a href="https://www.codewithharry.com/blogpost/php-cheatsheet/"><button>Download</button></a>
                </div>
            </div>
            <div class="aout12-page">
                <div class="aout13-page">
                    <img src="/static/images/pythonimages/18.webp">
                </div>
                <div class="aout14-page">
                    <h2>MySQL CheatSheet</h2>
                    <h3>Download Cheatsheet Here</h3>
                    <a href="https://www.codewithharry.com/blogpost/mysql-cheatsheet/"><button>Download</button></a>
                </div>
            </div>
            <div class="aout12-page">
                <div class="aout13-page">
                    <img src="/static/images/pythonimages/19.webp">
                </div>
                <div class="aout14-page">
                    <h2>Django CheatSheet</h2>
                    <h3>Download Cheatsheet Here</h3>
                    <a href="https://www.codewithharry.com/blogpost/django-cheatsheet/"><button>Download</button></a>
                </div>
            </div>
        </div>
    </div>


    <div id="home18-page" class="section-p4">
        <h1>Top 4 | Best WordPress Hosting</h1>
        <div class="home19-page">
            <div class="home20-page">
                <div class="home23-page">
                    <img src="/static/images/1203.png">
                </div>
                <div class="home24-page">
                    <h2>Best WordPress Hosting</h2>
                    <h3>Hostinger</h1>
                        <h4>Hostinger is Undoubtedly THE BEST & Most Affordable WordPress Hosting Provider!</h4>
                        <a href="https://www.hostinger.com/?ppc_campaign=google_search_generic_c&bidkw=godaddy%20hosting&lo=9075147&gclid=Cj0KCQjwhL6pBhDjARIsAGx8D5-EXefIIui18HQDMmQGI_Ebv-pWd5k3AY9leFOGkagsPkVcbwgAGzgaAnrCEALw_wcB"><button>Get Discount</button></a>
                </div>
            </div>
            <div class="home20-page">
                <div class="home23-page">
                    <img src="/static/images/1204.png">
                </div>
                <div class="home24-page">
                    <h2>Best WordPress Hosting</h2>
                    <h3>BlueHost
                    </h3>
                    <h4>It is one of the Best Value Hosting Provider with Premium features & Performance.</h4>
                    <a href="https://www.bluehost.com/"><button>Get Discount</button></a>
                </div>
            </div>
            <div class="home20-page">
                <div class="home23-page">
                    <img src="/static/images/1205.png">
                </div>
                <div class="home24-page">
                    <h2>Best WordPress Hosting</h2>
                    <h3>SiteGround
                    </h3>
                    <h4>It is one of the Most Reliable and famous Hosting Providers, with Best Support.</h4>
                    <a href="https://world.siteground.com/"><button>Get Discount</button></a>
                </div>
            </div>
            <div class="home20-page">
                <div class="home23-page">
                    <img src="/static/images/1206.png">
                </div>
                <div class="home24-page">
                    <h2>Best WordPress Hosting</h2>
                    <h3>A2 Hosting</h3>
                    <h4>A2 Hosting is a fast web hosting solution for WordPress Websites. A2 Hosting Provide Great Security .
                    </h4>
                    <a href="https://www.a2hosting.com/?aid=653a4edb10f92&cid=edae5de3&01hdrxvdvgxtv5w2prfgdtr0gt"><button>Get Discount</button></a>
                </div>
            </div>

        </div>
    </div>

    <div id="home26-page" class="section-p4">
        <div class="home28-page">
            <h1>Subscbribe Up For Newvideos</h1>
            <h5>Get E_mail updates about our latest youtube and <span>special offer</span>.</h5>
        </div>
        <form class="home29-page" method="POST" action="home.html">
            {% csrf_token %}
            <input type="email" id="email" name="email" placeholder="Enter your email">
            <button type="submit">Subscribe</button>
        </form>
    </div>

    <div id="home30-page">
        <div class="home31-page">
            <div class="home32-page">
                <h1>AwaisKhan</h1>
                <h2>Contact</h2>
                <p>Address: <span>Usma Masjid Jameel Colony Kabirwala</span></p>
                <p>Phone: <span> 0322-6550052 & +923065874752</span></p>
                <p>Hours: <span>8:00AM to 10PM Monday to Sunday</span></p>

                <div class="home33-page">
                    <h2>Follow Us : </h2>
                    <div class="home36-page">
                        <i class="	fa fa-facebook"></i>
                        <i class="		fa fa-google"></i>
                        <i class="	fa fa-twitter"></i>
                        <i class="		fa fa-instagram"></i>
                        <i class="	fa fa-youtube-play"></i>
                    </div>
                </div>
            </div>
            <div class="home34-page">
                <h1>About</h1>
                <ul>
                    <li><a>Home</a></li>
                    <li><a>Services</a></li>
                    <li><a>SourceCode</a></li>
                    <li><a>About Us</a></li>
                    <li><a>My Gear</a></li>
                    <li><a>Contact Us</a></li>
                    <li><a>Login</a></li>
                    <li><a>Sign In</a></li>

                </ul>
            </div>
            <div class="home35-page">
                <h1>Languages</h1>
                <ul>
                    <li><a>HTML</a></li>
                    <li><a>CSS</a></li>
                    <li><a>JavaScript</a></li>
                    <li><a>Python</a></li>
                    <li><a>Django</a></li>
                    <li><a>React</a></li>
                    <li><a>Bootstrap</a></li>
                    <li><a>C++</a></li>
                    <li><a>Java</a></li>
                </ul>
            </div>
            <div class="home38-page">
                <h1>Install App</h1>
                <h3>Form My store Or Google Play</h3>
                <div class="home37-page">
                    <img src="/static/images/n29.png">
                    <img src="/static/images/n300.png">
                </div>
            </div>
        </div>
        <div class="home40-page">
            <h5>@ 2023 ,MuhammadAwaisKhan - Full Stack Develpor</h5>
        </div>
    </div>














































































    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12">
    </script>
    <script>
        let icons = document.getElementById('icon');
        icons.onclick = function() {
                document.body.classList.toggle('dark-them');
                if (document.body.classList.contains('dark-them')) {
                    icons.class = "fa fa-sun-o";
                } else {
                    icon.class = "fa fa-moon-o";
                }
            }
            //
    </script>
    <script>
        let spantag = document.getElementById('awaiskhan');
        let isvisible = true

        function hidetext() {
            if (isvisible) {
                spantag.style.display = "none";
            } else {
                spantag.style.display = "inline";
            }
            isvisible = !isvisible
        }


        hidetext();

        setInterval(hidetext, Math.random() * 1000 + 1000);
    </script>

    <script>
        let nac = document.getElementById("nav");
        let clos = document.getElementById("close");
        let bar = document.getElementById("bare");

        if (bar) {
            bar.addEventListener('click', () => {
                nac.classList.add('active')
            });
        }
        if (clos) {
            clos.addEventListener('click', () => {
                nac.classList.remove('active')
            });
        }
    </script>

</body>

</html>